{:paths ["src" "resources"]
 :deps {io.github.kotoba-lang/kotobase-storage
        {:local/root "../kotobase-storage"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :integration
  {:extra-paths ["test-integration"]
   :extra-deps {org.postgresql/postgresql {:mvn/version "42.7.7"}}
   :main-opts ["-m" "kotobase.storage.postgres-integration"]}}}
